h1{color: #66BFFF;

}
h3 {color: #66BFFF;

}
body{
  background-color: #EFFCEF;
}

hr{

  background-color: white;
  border-style:dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
/* Right column */
.rightcolumn {
  float: right;
  /*display: inline-block;*/
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
  /*position: absolute;*/
  margin-top: 10px;

}
