h1{color: #66BFFF;

}
h3 {color: #66BFFF;

}
body{
  background-color: #EFFCEF;
}

hr{

  background-color: white;
  border-style:dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
/*page*/
.container{
  /*overflow:hidden;*/
  background-color: lightgrey;
}
/*main*/
.main{
  width: 70%;
  background-color: Green;

}
/* Right column */
.rightcolumn {
  float:right;
  width: 30%;
}
